
.bold {
    font-weight: bolder;
}

.border {
    border: 1px solid black;
}

.button {
    padding: 1%;
}

.button:hover {
    background-color: cornflowerblue;
    color: red;
}

.but-mar {
    margin: 0.5%;
}

.d-f {
    display: flex;
}

.pointer {
    cursor: pointer;
}

.row-wrap {
    flex-flow: row wrap;
}